<div class="footer-container">
  <div class="footer">
    <div class="general">
      <h3>GENERAL</h3>
      <ul>
        <li>Sobre nosotros</li>
        <li>FAQ</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="contacto">
      <h3>CONTACTO</h3>
      <ul>
        <li>info@tripfy.com</li>
        <li>tel: +34 123456789</li>
      </ul>
    </div>
    <div class="condiciones">
      <h3>CONDICIONES</h3>
      <ul>
        <li>Política de cookies</li>
        <li>Política de privacidad</li>
        <li>Aviso legal y condiciones de uso</li>
      </ul>
    </div>
    <div class="redes-sociales">
      <h3>REDES SOCIALES</h3>
      <ul class="social">
        <li>
          <img
            src="../../../assets/images/social/facebook.png"
            alt=""
            width="32"
          />
        </li>
        <li>
          <img
            src="../../../assets/images/social/twitter.png"
            alt=""
            width="32"
          />
        </li>
        <li>
          <img
            src="../../../assets/images/social/instagram2.png"
            alt=""
            width="32"
          />
        </li>
        <li>
          <img
            src="../../../assets/images/social/linkedin.png"
            alt=""
            width="32"
          />
        </li>
      </ul>
      <div>
        <h2 class="logo-bottom">Tripfy<span>.</span>®</h2>
      </div>
    </div>
  </div>
</div>
