<div class="header">
  <nav class="navbar">
    <div class="logo" routerLink="/home">
      <img src="../../../assets/images/logoTripfy2.png" width="32" alt="">
      <h2 class="title">Tripfy<span style="color:#ff0049;">.</span></h2>
    </div>
    <button
      class="hamburger hamburger--spring"
      type="button"
      [ngClass]="{ 'is-active': isOpen }"
      (click)="toggleMenu()"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="nav-links">
      <ul>
        <li routerLink="/alojamientos">Alojamientos</li>
        <li>Contacto</li>
        <li id="faq">FAQ</li>
        <li routerLink="/login" id="login"><p id="login-text">Iniciar sesión</p></li>
      </ul>
    </div>
    <div class="menu-open" [@openMenu]="isOpen ? 'open' : 'closed'">
      <ul>
        <li routerLink="/alojamientos">Alojamientos</li>
        <li>Contacto</li>
        <li>FAQ</li>
        <app-button-mod textoBoton="Iniciar sesión" claseBoton="btn-2"></app-button-mod>
      </ul>
    </div>
  </nav>
</div>
