$hamburger-layer-width: 25px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 4px;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: rgb(212, 255, 236);

@import '../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  height: 8vh;
  z-index: 3;
  background-color:rgb(43, 43, 43)
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 8vh;
  margin: 0 auto;
  padding: 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 1rem;
  color: #66F596;
}
.title {
  letter-spacing: 2px;
  margin: auto;
  margin-left: 0.5rem;
  font-size: 2rem;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  color: rgb(212, 255, 236);
}
.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  // margin-right: 3rem;
  height: 8vh;
  width: 7rem;
}
#faq {
  width: 4rem;
}
.nav-links li:hover{
  border-bottom: 4px solid #66F596;
  color: #66F596;
  cursor: pointer;
}

.nav-links:last-child {
  margin-right: 10rem;
}
.hamburger {
  display: none;
}
.btn {
  outline: none;
  border: 2px solid rgb(212, 255, 236);
  background-color: transparent;
  padding: 0.3rem 1.2rem;
  border-radius: 30px;
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgb(212, 255, 236);
}
.btn:hover {
  background-color: #66F596;
  border: 2px solid #66F596;
  color:rgb(43, 43, 43)
}
.menu-open {
  display: none;
}

@media (max-width: 768px){
  .hamburger {
    display: inherit;
    outline: none;
  }
  .nav-links {
    display: none;
  }
  .menu-open {
    position: absolute;
    top: 8vh;
    height: 92vh;
    width: 100vw;
    z-index: 1;
    justify-content: center;
    display: inherit;
  }
  .menu-open ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
    width: 90vw;
  }
  .menu-open ul li {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    padding-right: 0rem;
    color:rgb(212, 255, 236);
  }
  .menu-open ul li:hover {
    border-bottom: 4px solid #66F596;
    color: #66F596;
    cursor: pointer;
  }
  .btn {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
  }
}

