<div class="slider">
  <mdb-carousel [isControls]="false" [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/galicia1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/mallorca1.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/galicia2.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/mallorca2.jpg" alt="Fourth slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/galicia3.jpg" alt="Fifth slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/mallorca3.jpg" alt="Sixth slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/galicia4.jpg" alt="Seventh slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/images/mallorca4.jpg" alt="Eighth slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>
