@import '~@angular/material/theming';
@include mat-core();

$turism-app-primary: mat-palette($mat-personalized, 100);
$turism-app-accent:  mat-palette($mat-personalized, 500);
$turism-app-warn:    mat-palette($mat-personalized, 700);

$turism-app-theme: mat-light-theme($turism-app-primary, $turism-app-accent, $turism-app-warn);

@include angular-material-theme($turism-app-theme);
